/*
 *
 * Color overrides
 * Note that $primary (and other theme colors) are set in nuxt.conf.js
 *
 */
// Disable the color pack to avoid bloat
$color-pack = false

// Then again, we do need to refer to them
$primary   = #6e90a6
$secondary = #cd003a
$warning   = #FFAB00
$error     = #D32F2F
$info      = #64B5F6
$accent    = #FF5B77
$shadow = 0px 3px 3px -2px rgba(0, 0, 0, .2), 0px 3px 4px 0px rgba(0, 0, 0, .14), 0px 1px 8px 0px rgba(0, 0, 0, .12) !important;

// Who would thing having a white background would be such as hassle
@import './material-light'

// Native font stack to avoid loading external font
$body-font-family = -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

// Set generous font size and line height
$font-size-root = 22px
$line-height-root = 1.4
$breadcrumbs-item-font-size = 0.7 * $font-size-root
$breadcrumbs-item-large-font-size = 0.9 * $font-size-root

// Helper var for bottom margins
$text-margin-bottom =  $font-size-root * 0.7272

// Set heading styles
h1 
  font-size: 2.5rem
  font-weight: 500
  line-height: 1.1
  letter-spacing: -.03rem 
  margin: 1rem 0
h2 
  font-size: 2.1rem
  font-weight: 200
  line-height: 1.1
  letter-spacing: -.03rem 
  margin: 1.5rem 0
h3 
  font-size: 1.8rem
  font-weight: 200
  line-height: 1.1
  letter-spacing: -.02rem
  margin: 1rem 0
h4 
  font-size: 1.5rem
  font-weight: 200
  line-height: 1.1
  letter-spacing: -0.01rem
  margin: 0.75rem 0
h5
  font-size: 1.3rem
  font-weight: 400
  line-height: 32px
  letter-spacing: normal
  margin: 0.5rem 0
h6 
  font-size: 1.1rem
  font-weight: 500
  line-height: 1
  letter-spacing: .02em
  margin: 0.5rem 0

// Tone it down a bit on smaller screens
@media (max-width: 600px)
  h1
    font-size: 1.9rem
  h2              
    font-size: 1.7rem
  h3              
    font-size: 1.5rem
  h4              
    font-size: 1.3rem
  h5              
    font-size: 1.1rem
  h6              
    font-size: 0.9rem

// Helper class for centered content
.vahi-m600
  max-width: 600px
  margin: auto

// Use local icon font rather than fetch from Google
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

// Links for text
.vahi-text 
  a
    text-decoration: none
    box-shadow: 0px -2px 0px rgba(102,63,149,0.3) inset;
  a:hover
    text-decoration: none
   
// Links outside text
.vahi-deco 
  a
    box-shadow: none
    text-decoration: underline
  a:hover
    border: none
    box-shadow: none
    text-decoration: initial

// Lists
ul, ol 
  margin-left: 2*$text-margin-bottom
  margin-bottom: $text-margin-bottom

// Images
img 
  max-width: 100%

figure 
  margin: auto

  img
    box-shadow: $shadow

  figcaption 
    margin-bottom: $text-margin-bottom
    font-size: 75%

/*
 *
 * All done with VaHI specific settings
 *
 */
@import '~vuetify/src/stylus/main'


/*
 *
 * Global VaHI styles
 *
 */
.vahi-hr
  position: relative;

.vahi-hr--bottom::after
  bottom: 0

.vahi-hr::after
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(-90deg,rgba(14,30,37,0) 0,#0e1e25 5%,#0e1e25 90%,rgba(14,30,37,0) 100%);
  opacity: .08;

@import 'lists'
@import 'blockquotes'

.icon 
  font-family: 'Material icons'
  font-style: normal
  
.btn
  text-transform: none

.btn--large
  font-size: 18px

table.table tbody td
  font-size: 15px

